name: check build after commit on pullrequest 
on: 
  pull_request_target:
jobs:
    run-action:
      name: Run action
      runs-on: ubuntu-latest
      steps:
            - uses: actions/checkout@v3
            - name: Setup dotnet
              uses: actions/setup-dotnet@v3
              with:
                dotnet-version: '6.0.x'
            - name: Build
              run: npm prestart