# This is a basic workflow that is manually triggered

name: Manual workflow
on: push
jobs:
    run-action:
      name: Run action
      runs-on: ubuntu-latest
  
      steps:
        - name: Use Node.js 16.x
          uses: actions/checkout@v3 
          with:
            node-version: 16.x
            cache: 'npm'
            cache-dependency-path: package-lock.json
  
        - name: compile
          run: tsc
  
        - name: Build
          run: node dist/wellcomePage.js
  
        - name: Run my action
          uses: ./
