# This is a basic workflow that is manually triggered

name: Manual workflow
on: push
jobs:
    run-action:
      name: Run action
      runs-on: ubuntu-latest
  
      steps:
  
        - name: compile
          run: tsc ./src/wellcomePage.ts
  
        - name: Build
          run: node dist/wellcomePage.js
  
        - name: Run my action
          uses: ./
